.item_top {
	margin-top: 8px;
}

.r_segment_button>a {
	color: #666666;
}

.r_mybid_panel>ul>li>div:last-child>span {
	width: 37%;
	font-size: 0.76rem;
}
.r_mybid_panel>ul>li>div:last-child>span:first-child {
	width: 20%;
	text-overflow: ellipsis;
}
.r_mybid_panel>ul>li>div:last-child>span:nth-child(3) {
	width: 25%;
}
.r_mybid_panel>ul>li>div:last-child>span:last-child {
	width: 18%;
}

.mui-pull-bottom-tips {
	text-align: center;
	background-color: #efeff4;
	font-size: 15px;
	line-height: 40px;
	color: #777;
}

.scroll_top{
	top: 7rem;
}
