<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>car_type</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../../Public/css/mui.min.css">
		<link rel="stylesheet" href="../../../Public/css/component.css" />
		<link rel="stylesheet" href="../../../Public/css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/swiper/swiper.3.2.0.min.css" />
	</head>

	<body>
		<topnav></topnav>
		<div class="mui-content" ng-controller="detailCtrl" style="background: #F2EEEB;">
			<div class="content" style="background-color: #ffffff;margin: 1rem;border: 1px solid #000;border-radius:5px;">
				<label class="mui-title" style="margin-top: 0;">货物运输协议书</label>
				<br />
				<div style="padding: 0.5rem;margin-top: 0.5rem;">
					<label style="padding: 1rem;">&nbsp;&nbsp;根据《中华人民共和国合同法》及有关法律、法规的规定，为保证双方的合法权益，经协商一致，甲乙双方在自愿、平等、诚信的基础上签订本合同。</label>
				</div>
				<div style="background:#BBBBBB;margin-left: 0.5rem;margin-right: 0.5rem;padding-left: 0.3rem;">
					<label style="color:#999999;">&nbsp;&nbsp;货源方(甲方)：</label>
				</div>
				<div style="margin: 0.5rem;padding-left: 0.3rem;padding-right: 0.3rem;">
					<label style="color:#999999;">&nbsp;&nbsp;货源方(甲方)：{{hz_name}}</label>
					<br />
					<label style="color:#999999;">&nbsp;&nbsp;身份证号：{{hz_sfz}}</label>
					<br />
					<label style="color:#999999;">&nbsp;&nbsp;联系方式：{{hz_tel}}</label>
					<br />
				</div>
				<div style="background:#BBBBBB;margin-left: 0.5rem;margin-right: 0.5rem;padding-left: 0.3rem;">
					<label style="color:#999999;">&nbsp;&nbsp;车源方(乙方)：</label>
				</div>
				<div style="margin: 0.5rem;padding-left: 0.3rem;padding-right: 0.3rem;">
					<label style="color:#999999;">&nbsp;&nbsp;车源方(乙方)：{{cz_name}}</label>
					<br />
					<label style="color:#999999;">&nbsp;&nbsp;身份证号：{{cz_sfz}}</label>
					<br />
					<label style="color:#999999;">&nbsp;&nbsp;联系方式：{{cz_tel}}</label>
					<br />
					<label style="color:#999999;">&nbsp;&nbsp;承运车牌：{{car_num}}</label>
					<br />
					<label style="color:#999999;">&nbsp;&nbsp;承运司机姓名：{{driver_name}}</label>
					<br />
					<label style="color:#999999;">&nbsp;&nbsp;承运司机电话：{{driver_tel}}</label>
					<br />
				</div>
				<div style="background:#BBBBBB;margin-left: 0.5rem;margin-right: 0.5rem;padding-left: 0.3rem;">
					<label style="color:#999999;">&nbsp;&nbsp;货物信息：</label>
				</div>
				<div style="margin: 0.5rem;padding-left: 0.3rem;padding-right: 0.3rem;">
					<label style="color:#999999;">&nbsp;&nbsp;货物名称：{{goods_name}}</label>
					<br/>
					<label style="color:#999999;" ng-if="goods_class=='1'">&nbsp;&nbsp;运费价格：{{money}}</label>
					<label style="color:#999999;" ng-if="goods_class=='21'">&nbsp;&nbsp;{{day_nums}}日运费合计：{{money}}</label>
					<br />
					<!--<label style="color:#999999;">&nbsp;&nbsp;代收金额：0元</label>
					<br />-->
					<label style="color:#999999;">&nbsp;&nbsp;重量方数：{{goods_weight}}&nbsp;&nbsp;{{goods_square}}</label>
					<br />
					<label style="color:#999999;">&nbsp;&nbsp;是否需要回单：{{is_receipt}}</label>
					<br />
					<label style="color:#999999;">&nbsp;&nbsp;装卸需求：{{unload_need}}</label>
					<br />
					<label style="color:#999999;float: left;">&nbsp;&nbsp;装货地址：{{badrs}}</label>
					<br />
					<label style="color:#999999;" ng-if="begin_name!=''">&nbsp;&nbsp;发货人姓名：{{begin_name}}</label>
					<br />
					<label style="color:#999999;" ng-if="begin_tel!=''">&nbsp;&nbsp;发货人电话：{{begin_tel}}</label>
					<br />
					<label style="color:#999999;" ng-if="transport_time!=''">&nbsp;&nbsp;发货日期：{{transport_time}}</label>
					<br ng-if="transport_time!=''" />
					<label style="color:#999999;">&nbsp;&nbsp;预计装车时间：{{load_time}}</label>
					<br />
					<label style="color:#999999;">&nbsp;&nbsp;预计卸货时间：{{endtime}}</label>
					<br />
					<label style="color:#999999;">&nbsp;&nbsp;特殊需求：{{remark}}</label>
					<br />
				</div>
				<div style="background:#BBBBBB;margin-left: 0.5rem;margin-right: 0.5rem;padding-left: 0.3rem;">
					<label style="color:#999999;">&nbsp;&nbsp;卸货地址：</label>
				</div>
				<div style="margin: 0.5rem;padding-left: 0.3rem;padding-right: 0.3rem;" ng-repeat="obj in endaddLst">
					<label style="color:#999999;">&nbsp;&nbsp;{{obj.adr}}&nbsp;&nbsp;&nbsp;&nbsp;联系人：{{obj.shr_name}}&nbsp;&nbsp;{{obj.shr_phone}}</label>
					<br />
				</div>

				<div class="content" style="background-color: #ffffff;margin: 1rem;border: 1px solid #000;border-radius:5px;padding: 0.5rem;">
					<label id="deal_details_xianjie_W" style="color: #999999;" ng-if="deal_type==1"><b>一、托运人权利</b>
						<br/> 　1、信息变更
						<br/>　托运人有权根据实际情况要求承运人终止运输、停止卸货、退回货物、变更到达地点或者变更收货人等，但须承担因此给承运人增加的相关运杂费和其他相关损失。具体金额由双方进行协商，如发生增加运杂费或者其它情况需在物流邦平台提交、签订补充协议并执行补充协议。
						<br/> 　2、货物跟踪及安全
						<br/>　托运人如发现承运人履行协议运输途中关闭定位终端设备，托运人可向承运人要求50元的赔偿，非承运人责任的除外。
						<br/> 　3、如果发生承运人未按协议约定时间到达装货地或者送达收货地，经双方协商未果，托运人有权向承运人索偿。按协议中装载到达时间及卸载送达时间要求，每延误1小时可向承运人索要运输协议约定的运输费用总额的10%进行延误赔偿，最高延误赔偿总额不得超过运费总额（不可抗力的因素除外）。
						<br/><b>二、托运人义务</b>
						<br/> 　1、托运人须保证发布货源信息的真实准确，如货源信息不实、无法按时装载货物、货物手续不全等原因造成货物被扣、货物到达后无人验收或者拒绝收货等，由此给承运人造成的损失和费用由托运人赔偿，包括但不限于运杂费用、承运人不能正常履行其他运输协议被扣除的保证金等费用；变更发货地点、中途改变收货人或卸货地点等情况产生的费用由托运人承担。
						<br/> &nbsp;&nbsp;&nbsp;&nbsp;托运人可根据实际情况要求承运人终止运输、停止卸货、退回货物、变更到达地点或者变更收货人等，并且承担因此给承运人增加的相关运输杂费和其他相关损失。具体金额由双方进行协商,如发生增加运杂费或者其它情况须在物流邦平台提交、签订补充协议并执行补充协议。
						<br/> 　2、由于货物包装缺陷或者货物本身特质产生破损，致使其它货物或运输工具、机械设备被污染腐蚀、损坏，造成人身伤亡的，托运人应承担相关赔偿及责任。
						<br/> 　3、托运人在承运人装货之前要对承运人及承运车辆的有效证件进行核实确认，确保无误再发货装车。如因未核实车辆相关信息造成一切损失由托运人自己负责。
						<br/> 　4、托运人须在协议签署时将运费支付至物流邦，物流邦确实收到该运费后本协议才生效。
						<br/> 　5、托运人须在承运人提出协议履约完成申请3个工作日内进行确认；如果在3个工作日内未确认也未提出异议的，则视为托运人确认运输协议履约完成。
						<br/><b>三、承运人权利</b>
						<br/> 　1、承运人发现货物的相关信息与托运人在物流邦平台发布的信息不一致时可与托运人协商解决，协商无果可拒载并有向托运人追究相关责任和索取赔偿的权利；如到达发货地无货可拉，承运人有权向托运人要求100元的空跑补偿。物流邦平台应给与支持并协助提供回程接单信息等相关证据。
						<br/> 　2、承运人与托运人在“物流邦”平台签署协议后，如果托运人发布的货物吨位或者体积大于实际托运的货物，按照运输协议规定，运价不变，承运人完成运输；如果托运人发布的货物吨位或者体积小于实际托运的货物，托运人需与承运人协商，协商未果，承运人有权向托运人追索100元空跑补偿。
						<br/><b>四、承运人义务</b>
						<br/> 　1、信息核准
						<br/>　承运人在装载时应认真核查货物品类、数量、重量等信息是否与协议一致，如有异议及时与托运人协商，起运后不得再对信息不符等提出异议。
						<br/> 　2、安全保证
						<br/>　承运人在装载时须检查包装质量和装载安全，起运后所发生的一切损失（丢失、缺少、污染、雨淋等）全部由承运人负责承担。承运人对货物的毁损、灭失的赔偿额为该货物买卖双方实际交易价格，同时，承运人还需赔付对托运人造成的其他损失。货物的毁损、灭失是因不可抗力、货物本身自然性质或者合理损耗及托运人或收货单位造成的，则承运人不承担任何责任。
						<br/> 　承运人在运输过程中应对运输货物采取妥善的安全措施，按照通用的足以保全货物的方式对标的货物采取防雨、防散失等必要措施。
						<br/> 　承运人须保证全程定位终端设备处于开放和工作状态，如履行协议运输途中关闭定位终端设备，承运人需向托运人支付50元的赔偿，非承运人责任的除外。
						<br/> 　运输途中一切费用（过路、桥费等）、交通事故、违规罚款以及途中卸货倒车等费用及责任全由承运人承担。
						<br/> 　3、良好服务
						<br/>　承运人在到达收货地卸货前，托运人要求停止卸货或改变收货人、送货地点等，承运人须无条件服从。在协议履约过程中要保持良好的服务态度和体现积极的协助意识，充分做好服务工作。
						<br/> 　4、承运人须保证托运人的托运货物按协议规定时间到达，如途中发生塞车、交通事故、违规扣车等情况须及时通知托运人和收货方并随时报告动态，在获得托运人的同意后可更换车辆完成运输。如中途不管任何情况需要更换运输车辆，必须事先征得托运人同意并由托运人提交补充协议，依照规定，在物流邦平台完成流程，否则因此造成的所有风险及责任由承运人承担。
						<br/> 　承运人应按指定协议约定送达指定收货地及收货人，若承运人送达的目的地、收货人与协议指定的不相符，致使托运人蒙受损失，托运人有权向承运人索赔。
						<br/> 　5、承运人将货物送到收货地卸货完成后，提交运输协议履约完成申请。经托运人确认完成后，运费结算至承运人账户。未确认完成的运费待托运人确认完成后再结算。如果托运人对承运人的履约完成有异议，待双方解决异议后再将运费结算至承运人账户。
						<br/> 　6、承运人须按物流邦的规定完成操作流程，承运人除了在线上完成相关的操作还需要将运费确认单或者签收单交收货方签字确认并收回。承运人需将每月25日之前产生的所有运费确认单或者签收单邮寄到天津正易物通网络科技有限公司。
						<br/> 　运费确认单或者签收单是用来体现承运的货物已经送达的凭证，不作为承运人结算的依据，只作为承运人的运输证明。如果运费确认单或者签收单与电子运输协议的约定有不一致处，以电子运输协议的约定为准。
						<br/> 　7、保密责任
						<br/>　承运人不得向任何第三方泄露托运人、货物等相关信息，否则发生的一切损失和责任由承运人承担。
						<br/><b>五、违约责任</b>
						<br/> 　1、承运人不履行协议或者不按协议约定履行，托运人有权向承运人申请保证金赔偿，4.2米以上车型（含4.2米）违约一次托运人有权申请200元违约赔偿；4.2米以下（不含4.2米）车型违约一次托运人有权申请100元的保证金补偿。
						<br/> 　2、承运人到达装货地无货可拉，有权向托运人要求100元的空跑补偿。
						<br/><b>六、代收款约定</b>
						<br/> 　托运人有代收货款需求，承运人应按照约定，从指定收货人处代收货款，存入承运人提交的银行账户。承运人须需保证在承运次日上午9时30分前其所提交的银行账户内余额不低于代收款项额度。依据承运协议，银行将代收款额自承运人提交的银行账户中直接划转至物流邦指定账户中，再由物流邦将代收款划转至托运人账户。如果承运人提交的银行账户内余额低于代收的款项额度，物流邦有权按代收额度的5%/天向承运人追偿滞纳金。如果货物送到，承运人未进行代收款而引起的费用和损失由承运人负责。
						<br/><b>七、其他约定</b>
						<br/> 　1、托运人和承运人的运杂费用结算等均须委托天津正易物通网络科技有限公司代收代付。
						<br/> 　2、托运人如有代收货款需求，须提供接收账户信息，代收款手续费用为代收款额度的3‰，封顶20元。
						<br/> 　3、本合同中规定的所有费用均为不含税价格，如需开发票须自行承担税金等相关费用。
						<br/> 　4、本协议一经在线指定方式（托运人支付运费至物流邦，发起运输协议，承运人支付一张邦票完成运输协议签署）签署即时生效。如有争议双方协商解决，协商不成可向托运人所在地人民法院提起诉讼。
						<br/> 　5、本协议如有未尽事宜，双方协商签订补充协议。补充协议作为本协议的组成部分，与本协议具有同等法律效力。
						<br/> 　6、物流邦平台是公共信息平台，仅提供信息服务。本协议只为甲乙双方提供本次运输的法律依据，平台不承担双方任何法律责任。
					</label>
					<label id="deal_details_xianjie_Y" style="color: #999999;" ng-if="deal_type==2">
						<b>一、托运人权利</b>
						<br/> 　1、信息变更
						<br/>　托运人有权根据实际情况要求承运人终止运输、停止卸货、退回货物、变更到达地点或者变更收货人等，但须承担因此给承运人增加的相关运杂费和其他相关损失。具体金额由双方进行协商，如发生增加运杂费或者其它情况需在物流邦平台提交、签订补充协议并执行补充协议。
						<br/> 　2、货物跟踪及安全
						<br/>　托运人如发现承运人履行协议运输途中关闭定位终端设备，托运人可向承运人要求50元的赔偿，非承运人责任的除外。
						<br/> 　3、如果发生承运人未按协议约定时间到达装货地或者送达收货地，经双方协商未果，托运人有权向承运人索偿。按协议中装载到达时间及卸载送达时间要求，每延误1小时可向承运人索要运输协议约定的运输费用总额的10%进行延误赔偿，最高延误赔偿总额不得超过运费总额（不可抗力的因素除外）。
						<br/><b>二、托运人义务</b>
						<br/> 　1、托运人须保证发布货源信息的真实准确，如货源信息不实、无法按时装载货物、货物手续不全等原因造成货物被扣、货物到达后无人验收或者拒绝收货等，由此给承运人造成的损失和费用由托运人赔偿，包括但不限于运杂费用、承运人不能正常履行其他运输协议被扣除的保证金等费用；变更发货地点、中途改变收货人或卸货地点等情况产生的费用由托运人承担。
						<br/>&nbsp;&nbsp;&nbsp;&nbsp;托运人可根据实际情况要求承运人终止运输、停止卸货、退回货物、变更到达地点或者变更收货人等，并且承担因此给承运人增加的相关运输杂费和其他相关损失。具体金额由双方进行协商,如发生增加运杂费或者其它情况须在物流邦平台提交、签订补充协议并执行补充协议。
						<br/> 　2、由于货物包装缺陷或者货物本身特质产生破损，致使其它货物或运输工具、机械设备被污染腐蚀、损坏，造成人身伤亡的，托运人应承担相关赔偿及责任。
						<br/> 　3、托运人在承运人装货之前要对承运人及承运车辆的有效证件进行核实确认，确保无误再发货装车。如因未核实车辆相关信息造成一切损失由托运人自己负责。
						<br/> 　4、托运人须在协议签署时将运费支付至物流邦，物流邦确实收到该运费后本协议才生效。
						<br/> 　5、承运人应将经由协议指定的收货人或接收单位签字的送货回单在货物到达收货地24小时内直接交付给托运人（需要收货人或者单位在运费确认单或者签收单上签字以证实接收）或者以指定邮寄的方式寄送给托运人并将邮寄证明提交到物流邦平台（录入单号）后提交运输协议履约完成申请。托运人须在承运人提交运输协议履约完成申请6个工作日内进行确认；如果在规定时间内未确认也未提出异议的，则视为托运人确认运输协议履约完成。
						<br/><b>三、承运人权利</b>
						<br/> 　1、承运人发现货物的相关信息与托运人在物流邦平台发布的信息不一致时可与托运人协商解决，协商无果可拒载并有向托运人追究相关责任和索取赔偿的权利；如到达发货地无货可拉，承运人有权向托运人要求100元的空跑补偿。物流邦平台应给与支持并协助提供回程接单信息等相关证据。
						<br/> 　2、承运人与托运人在“物流邦”平台签署协议后，如果托运人发布的货物吨位或者体积大于实际托运的货物，按照运输协议规定，运价不变，承运人完成运输；如果托运人发布的货物吨位或者体积小于实际托运的货物，托运人需与承运人协商，协商未果，承运人有权向托运人追索100元空跑补偿。
						<br/><b>四、承运人义务</b>
						<br/> 　1、信息核准
						<br/>　承运人在装载时应认真核查货物品类、数量、重量等信息是否与协议一致，如有异议及时与托运人协商，起运后不得再对信息不符等提出异议。
						<br/> 　2、安全保证
						<br/>　承运人在装载时须检查包装质量和装载安全，起运后所发生的一切损失（丢失、缺少、污染、雨淋等）全部由承运人负责承担。承运人对货物的毁损、灭失的赔偿额为该货物买卖双方实际交易价格，同时，承运人还需赔付对托运人造成的其他损失。货物的毁损、灭失是因不可抗力、货物本身自然性质或者合理损耗及托运人或收货单位造成的，则承运人不承担任何责任。
						<br/> 　承运人在运输过程中应对运输货物采取妥善的安全措施，按照通用的足以保全货物的方式对标的货物采取防雨、防散失等必要措施。
						<br/> 　承运人须保证全程定位终端设备处于开放和工作状态，如履行协议运输途中关闭定位终端设备，承运人需向托运人支付50元的赔偿，非承运人责任的除外。
						<br/> 　运输途中一切费用（过路、桥费等）、交通事故、违规罚款以及途中卸货倒车等费用及责任全由承运人承担。
						<br/> 　3、良好服务
						<br/>　承运人在到达收货地卸货前，托运人要求停止卸货或改变收货人、送货地点等，承运人须无条件服从。在协议履约过程中要保持良好的服务态度和体现积极的协助意识，充分做好服务工作。
						<br/> 　4、承运人须保证托运人的托运货物按协议规定时间到达，如途中发生塞车、交通事故、违规扣车等情况须及时通知托运人和收货方并随时报告动态，在获得托运人的同意后可更换车辆完成运输。如中途不管任何情况需要更换运输车辆，必须事先征得托运人同意并由托运人提交补充协议，依照规定，在物流邦平台完成流程，否则因此造成的所有风险及责任由承运人承担。
						<br/> 　承运人应按指定协议约定送达指定收货地及收货人，若承运人送达的目的地、收货人与协议指定的不相符，致使托运人蒙受损失，托运人有权向承运人索赔。
						<br/> 　5、承运人应将送货回单（须经由托运人指定的收货人或接收单位签字）在货物到达收货地24小时内直接交付给托运人（需要收货人或者单位在运费确认单或者签收单上签字以证实接收）或者以指定邮寄的方式寄送给托运人并将邮寄单号录入物流邦平台，然后提交运输协议履约完成申请，经托运人确认完成后，运费结算至承运人银行账户。未经托运人确认完成的运费待托运人确认完成后再结算。如果托运人对承运人的履约完成有异议，待双方解决异议后再将运费结算至承运人账户。
						<br/> 　送货回单是托运人发出货物的凭证，是需要经收货方确认签字并回收的单据，是根据电子运输协议约定需要承运人直接交付或者寄送的货物发货回执。如果是直接交付，需托运人在运费确认单或者签收单签字以证实接收到送货回单；如果是邮寄寄送方式，承运人需将邮寄单号录入物流邦平台。
						<br/> 　6、承运人须按物流邦的规定完成操作流程，承运人除了在线上完成相关的操作还需要将运费确认单或者签收单交收货方签字确认并收回。承运人需将每月25日之前产生的所有运费确认单或者签收单邮寄到天津正易物通网络科技有限公司。
						<br/> 　运费确认单或者签收单是用来体现承运的货物已经送达的凭证，不作为承运人结算的依据，只作为承运人的运输证明。如果运费确认单或者签收单与电子运输协议的约定有不一致处，以电子运输协议的约定为准。
						<br/> 　7、保密责任
						<br/>　承运人不得向任何第三方泄露客户、货物等相关信息，否则发生的一切损失和责任由承运人承担。
						<br/><b>五、违约责任</b>
						<br/> 　1、承运人不履行协议或者不按协议约定履行，托运人有权向承运人申请保证金赔偿，4.2米以上车型（含4.2米）违约一次托运人有权申请200元违约赔偿；4.2米以下（不含4.2米）车型违约一次托运人有权申请100元的保证金补偿。
						<br/> 　2、承运人到达装货地无货可拉，有权向托运人要求100元的空跑补偿。
						<br/><b>六、代收款约定</b>
						<br/> 　托运人有代收货款需求，承运人应按照约定，从指定收货人处代收货款，存入承运人提交的银行账户。承运人须需保证在承运次日上午9时30分前其所提交的银行账户内余额不低于代收款项额度。依据承运协议，银行将代收款额自承运人提交的银行账户中直接划转至物流邦指定账户中，再由物流邦将代收款划转至托运人账户。如果承运人提交的银行账户内余额低于代收的款项额度，物流邦有权按代收额度的5%/天向承运人追偿滞纳金。如果货物送到，承运人未进行代收款而引起的费用和损失由承运人负责。
						<br/><b>七、其他约定</b>
						<br/> 　1、托运人和承运人的运杂费用结算等均须委托天津正易物通网络科技有限公司代收代付。
						<br/> 　2、托运人如有代收货款需求，须提供接收账户信息，代收款手续费用为代收款额度的3‰，封顶20元。
						<br/> 　3、本合同中规定的所有费用均为不含税价格，如需开发票须自行承担税金等相关费用。
						<br/> 　4、本协议一经在线指定方式（托运人支付运费至物流邦，发起运输协议，承运人支付一张邦票完成运输协议签署）签署即时生效。如有争议双方协商解决，协商不成可向托运人所在地人民法院提起诉讼。
						<br/> 　5、本协议如有未尽事宜，双方协商签订补充协议。补充协议作为本协议的组成部分，与本协议具有同等法律效力。
						<br/> 　6、物流邦平台是公共信息平台，仅提供信息服务。本协议只为甲乙双方提供本次运输的法律依据，平台不承担双方任何法律责任。
					</label>
					<label id="deal_details_zuhe_nosplit" style="color: #999999;" ng-if="deal_type==3 || deal_type==4">
						<b>一、托运人权利</b>
						<br/> 　1、信息变更
						<br/>　托运人有权根据实际情况要求承运人终止运输、停止卸货、退回货物、变更到达地点或者变更收货人等，但须承担因此给承运人增加的相关运杂费和其他相关损失。具体金额由双方进行协商，如发生增加运杂费或者其它情况需在物流邦平台提交、签订补充协议并执行补充协议。
						<br/> 　2、货物跟踪及安全
						<br/>　托运人如发现承运人履行协议运输途中关闭定位终端设备，托运人有权向承运人要求50元的赔偿，非承运人责任的除外。
						<br/> 　3、如果发生承运人未按协议约定时间到达装货地或者送达收货地，经双方协商未果，托运人有权向承运人索偿。按协议中装载到达时间及卸载送达时间要求，每延误1小时可向承运人索要运输协议约定的运输费用总额的10%进行延误赔偿，最高延误赔偿总额不得超过运费总额（不可抗力的因素除外）。
						<br/> 4、托运人对运输协议的履约完成有异议的，有权向物流邦提出申诉。
						<br/> <b>二、托运人义务</b>
						<br/> 　1、托运人须保证发布货源信息的真实准确，如货源信息不实、无法按时装载货物、货物手续不全等原因造成货物被扣、货物到达后无人验收或者拒绝收货等，由此给承运人造成的损失和费用由托运人赔偿，包括但不限于运杂费用、承运人不能正常履行其他运输协议被扣除的保证金等费用；变更发货地点、中途改变收货人或卸货地点等情况产生的费用由托运人承担。
						<br/>&nbsp;&nbsp;&nbsp;&nbsp;托运人可根据实际情况要求承运人终止运输、停止卸货、退回货物、变更到达地点或者变更收货人等，并且承担因此给承运人增加的相关运输杂费和其他相关损失。具体金额由双方进行协商,如发生增加运杂费或者其它情况须在物流邦平台提交、签订补充协议并执行补充协议。
						<br/> 　2、由于货物包装缺陷或者货物本身特质产生破损，致使其它货物或运输工具、机械设备被污染腐蚀、损坏，造成人身伤亡的，托运人应承担相关赔偿及责任。
						<br/> 　3、托运人在承运人装货之前要对承运人及承运车辆的有效证件进行核实确认，确保无误再发货装车。如因未核实车辆相关信息造成一切损失由托运人自己负责。
						<br/><b>三、承运人权利</b>
						<br/> 　1、承运人发现货物的相关信息与托运人在物流邦平台发布的信息不一致时可与托运人协商解决，协商无果可拒载并有权向托运人追究相关责任和索取赔偿；如到达发货地无货可拉，承运人有权向托运人要求100元的空跑补偿。物流邦平台应给与支持并协助提供回程接单信息等相关证据。
						<br/> 　2、承运人与托运人在“物流邦”平台签署协议后，如果托运人实际托运的货物吨位或者体积小于发布的货物，按照运输协议规定，运价不变，承运人完成运输；如果托运人发布的货物吨位或者体积小于实际托运的货物，托运人需与承运人协商，协商未果，承运人有权向托运人追索100元空跑补偿。
						<br/><b>四、承运人义务</b>
						<br/> 　1、信息核准
						<br/>　承运人在装载时应认真核查货物品类、数量、重量等信息是否与协议一致，如有异议及时与托运人协商，起运后不得再对信息不符等提出异议。
						<br/> 　2、安全保证
						<br/>　承运人在装载时须检查包装质量和装载安全，起运后所发生的一切损失（丢失、缺少、污染、雨淋等）全部由承运人负责承担。承运人对货物的毁损、灭失的赔偿额为该货物买卖双方实际交易价格，同时，承运人还需赔付对托运人造成的其他损失。货物的毁损、灭失是因不可抗力、货物本身自然性质或者合理损耗及托运人或收货单位造成的，则承运人不承担任何责任。
						<br/> 　承运人在运输过程中应对运输货物采取妥善的安全措施，按照通用的足以保全货物的方式对标的货物采取防雨、防散失等必要措施。
						<br/> 　承运人须保证全程定位终端设备处于开放和工作状态，如履行协议运输途中关闭定位终端设备，承运人需向托运人支付50元的赔偿，非承运人责任的除外。
						<br/> 　运输途中一切费用（过路、桥费等）、交通事故、违规罚款以及途中卸货倒车等费用及责任全由承运人承担。
						<br/> 　3、良好服务
						<br/>　承运人在到达收货地卸货前，托运人要求停止卸货或改变收货人、送货地点等，承运人须无条件服从。在协议履约过程中要保持良好的服务态度和体现积极的协助意识，充分做好服务工作。
						<br/> 　4、承运人须保证托运人的托运货物按协议规定时间到达，如途中发生塞车、交通事故、违规扣车等情况须及时通知托运人和收货方并随时报告动态，在获得托运人的同意后可更换车辆完成运输。如中途不管任何情况需要更换运输车辆，必须事先征得托运人同意并由托运人提交补充协议，依照规定，在物流邦平台完成流程，否则因此造成的所有风险及责任由承运人承担。
						<br/> 　承运人应按协议约定送达指定收货地及收货人，若承运人送达的目的地、收货人与协议指定的不相符，致使托运人蒙受损失，托运人有权向承运人索赔。
						<br/> 　5、承运人将货物送到收货地卸货完成后，提交运输协议履约完成申请。承运人应结算的运费是承运人提交履约完成申请并经托运人确认履约完成的运输协议产生的运费。未经托运人确认完成的运费待托运人确认完成后再进行结算。如果托运人对承运人的履约完成有异议，待双方解决异议后再进行结算。
						<br/> 　6、承运人应将运费确认单或者签收单保存完好。
						<br/> 　7、运费确认单或者是用来体现承运的货物已经送达的凭证，只作为承运人运输的证明，并不是结算的依据，如果运费确认单或者签收单与电子运输协议的约定有不一致的，以电子运输协议的约定为准。
						<br/> 　送货回单是托运人发出货物的凭证，是需要经收货方确认签字并回收的单据，是根据电子运输协议约定需要承运人直接交付或者寄送的货物发货回执。如果是直接交付，需托运人在运费确认单或者签收单备注签字以证实接收到送货回单；如果是邮寄寄送方式，承运人需将邮寄单号录入物流邦平台。
						<br/> 　8、保密责任
						<br/>　承运人不得向任何第三方泄露客户、货物等相关信息，否则发生的一切损失和责任由承运人承担。
						<br/><b>五、协议履行完成与约定</b>
						<br/> 　1、由托运人在线发起电子运输协议，承运人确认签署后，对于协议的履约完成按以下情况确认：
						<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(1)托运人无法送货回单需求
						<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;由电子运输协议中指定的接收人签署运费确认单或签收单后，经承运人在线提交运输协议履约完成申请，托运人在线确认运输协议履约完成或者在承运人提交确认请求3个工作日之内托运人未提出异议的情况下，视同托运人已经确认运输协议履约完成。
						<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2)托运人有送货回单需求
						<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;由电子运输协议中指定的接收人签署托运人开据的送货回单和运费确认单或签收单后，承运人按运输协议约定将送货回单以直接交付的方式（需托运人在运费确认单或签收单签字以证实接收到送货回单）或者邮寄方式(需将邮寄回执保存完好)寄送给托运人后，提交协议履约完成申请，经托运人在线确认或在承运人提交确认请求6个工作日之内托运人未提出异议的情况下，视同托运人已经确认运输协议履约完成。
						<br/> 　2、需要现场结算运输费用和代收货款的，承运人收到运输费用和相关货款后方可申请确认运输协议履约完成；如无上述需求，则按正常流程提交即可。
						<br/> 　3、托运人对于运输协议履约完成提出异议后，该单运输协议在双方解决争议后，才视为履约完成。
						<br/><b>六、运费结算</b>
						<br/> 　根据每单货物运输双方的约定，结算方式有周结和现场结算两种。
						<br/> 周结运费结算原则：
						<br/> 　托运人和承运人按照与物流邦签订的用户协议约定，按周进行结算运费。
						<br/> 　每周一为周结用户结账日（每周一凌晨00:00之前至上周凌晨00:00之后已确认完成的运输协议产生的运费为应结运费，如遇国家法定节假日顺延至工作日）。
						<br/>托运人应在2个工作日内即周三上午9:30之前将运费划转到物流邦指定账户，或根据其与中国农业银行“委托代扣”约定，由银行将运费自托运人提交的银行账户中直接划转至物流邦指定账户中。托运人甲方不按时结算运费，或托运人提交的银行账户内余额低于应付的运费额度，物流邦有权按应付运费总额的5%/日向甲方追偿违约金。周结用户可按照程序从会员账户余额中进行提现处理。
						<br/>承运人在线申请提现，将运输费用确认单或签收单邮寄回物流邦，物流邦在当日15:00之前审核确认无误的，由银行自动将承运人提现金额划转至承运人提交的银行账户中；物流邦在当日15:00之后审核确认无误的，将于次日下午15:00由银行自动将承运人提现金额划转至承运人提交的银行账户中。如果因承运人交付或寄送运费确认单或者签收单不及时或者其他原因造成的付款延迟，物流邦不承担任何责任。
						<br/> 现金结算运费结算原则：
						<br/> 　承运人在承运过程中由托运人或者托运人指定的收货人以现金形式结算运费，不通过物流邦代收代付。承运人在协议签署后应根据与托运人的约定事项，现场收取运费。如果因收货人不支付运费引起的费用和损失由托运人承担。
						<br/><b>七、代收款约定</b>
						<br/> 　托运人有代收货款需求，承运人应按照约定，从指定收货人处代收货款，存入承运人提交的银行账户。承运人须需保证在承运次日上午9:30分前其所提交的银行账户内余额不低于代收款项额度。依据承运协议，银行将代收款额自承运人提交的银行账户中直接划转至物流邦指定账户中，再由物流邦将代收款划转至托运人账户。如果承运人提交的银行账户内余额低于代收的款项额度，物流邦有权按代收额度的5%/天向承运人追偿滞纳金。如果货物送到，承运人未进行代收款而引起的费用和损失由承运人负责。
						<br/><b>八、违约责任</b>
						<br/> 　1、承运人不履行协议或者不按协议约定履行，托运人有权向承运人申请违约赔偿，4.2米以上车型（含4.2米）违约一次托运人有权申请200元违约赔偿；4.2米以下（不含4.2米）车型违约一次托运人有权申请100元违约赔偿。
						<br/> 　2、承运人到达装货地无货可拉，有权向托运人要求100元的空跑补偿。
						<br/><b>九、其他约定</b>
						<br/> 　1、本协议中规定的所有费用均为不含税价格，如需开发票等须自行承担税金等相关费用。
						<br/> 　2、托运人如有代收货款需求，须提供接收账户信息，代收款手续费用为代收款额度的3‰，封顶20元。
						<br/> 　3、协议一经在线指定方式（托运人向承运人在线发起协议，承运人支付一张邦票确认完成协议签署）签署即时生效。如有争议双方协商解决，协商不成可向托运人所在地人民法院提起诉讼。
						<br/> 　4、本协议如有未尽事宜，双方协商签订补充协议。补充协议作为本协议的组成部分，与本协议具有同等法律效力。
						<br/> 　5、物流邦平台是公共信息平台，仅提供信息服务，本协议只为甲乙双方提供本次运输的法律依据，平台不承担双方任何法律责任。
					</label>
					<label id="deal_details_xianchang_W" style="color: #999999;" ng-if="deal_type==5">
						<b>一、托运人责任</b>
						<br/> 　1、托运人须保证发布货源信息的真实准确性，如货源信息不实、无法按时装载货物、变更发货地点、中途改变收货人或卸货地点、收货人延误收货或无法卸货等因素造成的费用和损失，托运人须承担全部责任并给予承运人相关的损失赔偿，包括但不限于运杂费用、承运人在平台赔付的竞价保证金等费用。
						<br/> 　2、由于货物包装缺陷或者货物本身特质产生破损，致使其它货物或运输工具、机械设备被污染腐蚀、损坏，造成人身伤亡的，托运人应承担相关赔偿及责任。
						<br/> 　3、托运人如因错报货物名称，卸货地址或手续不全，造成货物被扣或货物到达后无人验收或者拒绝收货，由此给承运人造成的损失由托运人赔偿。
						<br/> 　4、托运人在承运人装货之前要对承运人承运车辆的有效证件进行核实确认，确保无误再发货装车。如因未核实车辆相关信息造成一切损失由托运人自己负责。
						<br/> 　5、运费支付
						<br/> 承运人在承运过程中由托运人或者托运人制定的收货人以现金形式结算运费，如果因收货人不支付运费引起的费用和损失由托运人承担。
						<br/> 6 托运人应在承运人提出运输协议履约完成申请后的3个工作日内进行确认，如果在规定时间内未确认也未提出异议的，则视为托运人确认运输协议履约完成。
						<br/><b>二、托运人义务</b>
						<br/> 　1、信息变更
						<br/>&nbsp;&nbsp;&nbsp;&nbsp;托运人可根据实际情况要求承运人终止运输、停止卸货、退回货物、变更到达地点或者变更收货人等，并且承担因此给承运人增加的相关运输杂费和其他相关损失。具体金额由双方进行协商,如发生增加运杂费或者其它情况须在物流邦平台提交、签订补充协议并执行补充协议。
						<br/> 　2、货物跟踪及安全
						<br/>&nbsp;&nbsp;&nbsp;&nbsp;托运人如发现承运人履行协议运输途中关闭定位终端设备，托运人可向承运人要求50元的赔偿，非承运人责任的除外。
						<br/> 　3、如发生承运人未按协议约定时间到达装货地或者送达收货地，经双方协商未果，托运人有权向承运人索偿，按协议中装载到达时间及卸载送达时间要求，每延误1小时可向承运人索要运输协议约定的运输费用总额的10%进行延误赔偿，最高延误赔偿总额不得超过运费总额（不可抗力的因素除外）。
						<br/><b>三、承运人的责任</b>
						<br/> 　1、信息核准
						<br/>&nbsp;&nbsp;&nbsp;&nbsp;承运人在装载时应认真核查货物品类、数量、重量等信息是否与协议一致，如有异议及时与托运人协商；运输开始后不得再对信息不符等提出异议。
						<br/> 　2、安全保证
						<br/>&nbsp;&nbsp;&nbsp;&nbsp;承运人在装载时须检查包装质量和装载安全，启程后所发生的一切损失（丢失、破损、污染、雨淋等）全部由承运人负担。但承运人证明货物的毁损、灭失是因不可抗力、货物的本身的自然性质或者合理损耗及托运人或收货单位造成的除外；承运人对货物的毁损、灭失的赔偿额为该货物买卖双方实际交易价格及给托运人造成相关的其他损失。
						<br/>&nbsp;&nbsp;&nbsp;&nbsp;承运人在运输过程中应对运输货物采取妥善的安全措施，应当按照通用的足以保全货物的方式对标的货物采取防雨、防散失等必要措施。
						<br/>&nbsp;&nbsp;&nbsp;&nbsp;承运人须保证全程定位终端设备处于开放和工作状态，托运人如发现承运人履行协议运输途中关闭定位终端设备，托运人可向承运人要求50元的赔偿，非承运人责任的除外。
						<br/>&nbsp;&nbsp;&nbsp;&nbsp;运输途中一切费用（过路、桥费等）、交通事故、违规罚款以及途中卸货倒车等费用及责任全由承运人承担。
						<br/> 　3、良好服务
						<br/>&nbsp;&nbsp;&nbsp;&nbsp;如在到达卸货前，托运人要求停止卸货或改变收货人、送货地点等，承运人须无条件服从。在协议履约过程中要保持良好的服务态度和体现积极的协助意识，充分做好服务工作。
						<br/> 　4、承运人须保证托运人的托运货物按协议规定时间到达，如途中发生塞车、交通事故、违规扣车等须及时通知发货方和收货方并随时报告动态，在获得托运人的同意后可更换车辆完成运输。如中途不管任何情况需要更换运输车辆，必须事先征得托运人同意并由托运人提交补充协议，按平台操作流程完成，否则因此造成的所有风险及责任由承运人承担。
						<br/> 　5、若承运人送达的目的地、收货人与协议指定的不相符，致使托运人蒙受损失，托运人有权向承运人索赔。
						<br/> 　6、承运人应将货物送到收货地卸货完成后提交运输协议履约完成确认申请。未提交履约完成申请的运费待承运人提交并经托运人确认履约完成后再计入结算周期。
						<br/> 　7、承运人应将运费确认单保存完好。运费确认单是用来体现承运的货物已经送达的凭证，只作为承运人运输的证明，并不是结算的依据，如果运费确认单与电子运输协议的约定有不一致的，以电子运输协议的约定为准；
						<br/> 　8、保密责任。
						<br/>&nbsp;&nbsp;&nbsp;&nbsp;承运人不得向任何第三方泄露客户、货物等相关信息，否则发生的一切损失和责任由承运人承担。
						<br/><b>四、承运人权利</b>
						<br/> 　1、承运人发现货物的相关信息与托运人在平台发布的信息不一致时可协商解决，协商无果可拒载并有向托运人追究相关责任和赔偿的权利，具体赔偿标准参照注册协议。
						<br/> 　2、托运人改变卸货地点、送达后无人接货或延误卸货等给承运人带来的相关损失及回程接单等损失，承运人有权申诉，要求托运人赔偿，物流邦平台应给予支持并协助提供回程接单信息等相关证据。
						<br/> 　3、托运人按照协议约定，以现金形式结算运费或者指定收货人以现金形式结算运费给托运人，如果因收货人不支付运费引起的费用和损失由托运人承担。
						<br/><b>五、其他约定</b>
						<br/> 　1、如需代收货款等服务，须提供接收账户信息，平台以转账的形式付给托运人，因转账而产生的汇款手续费等相关费用要在代收的货款中扣除；
						<br/> 　2、本合同中规定的所有费用均为不含税价格，如需开发票等须自行承担税金等相关费用。
						<br/> 　3、本协议一经在线指定方式（托运人以手机认证码或支付担保支付的运输费用两种方式的完成视同协议的签署，承运人支付一张邦票—信息费的方式视为本协议的签署）签署即时生效。如有争议双方协商解决，协商不成可向托运人所在地人民法院提起诉讼。
						<br/> 　4、本合同如有未尽事宜，双方协商签订补充协议。补充协议作为本合同的组成部分，与本合同具有同等法律效力。
						<br/> 　5、物流邦平台是公共信息平台，仅提供信息服务，本协议只为甲乙双方提供本次运输的法律依据，平台不承担双方任何法律责任。
					</label>
					<label id="deal_details_xianchang_Y" style="color: #999999;" ng-if="deal_type==6">
						<b>一、托运人责任</b>
						<br/> 　1、托运人须保证发布货源信息的真实准确性，如货源信息不实、无法按时装载货物、变更发货地点、中途改变收货人或卸货地点、收货人延误收货或无法卸货等因素造成的费用和损失，托运人须承担全部责任并赔偿承运人相关的损失，包括但不限于运杂费用、承运人在平台赔付的竞价保证金等费用。
						<br/> 　2、由于货物包装缺陷或者货物本身特质产生破损，致使其它货物或运输工具、机械设备被污染腐蚀、损坏，造成人身伤亡的，托运人应承担相关赔偿及责任。
						<br/> 　3、托运人如因错报货物名称，卸货地址或手续不全，造成货物被扣或货物到达后无人验收或者拒绝收货，由此给承运人造成的损失由托运人赔偿。
						<br/> 　4、托运人在承运人装货之前要对承运人及承运车辆的有效证件进行核实确认，确保无误再发货装车。如因未核实车辆相关信息造成一切损失由托运人自己负责。
						<br/> 　5、运费支付
						<br/>&nbsp;&nbsp;&nbsp;&nbsp;承运人在承运过程中由托运人或者托运人制定的收货人以现金形式结算运费，如果因收货人不支付运费引起的费用和损失由托运人承担。
						<br/> 　6、托运人须在承运人提出协议履约完成申请6个工作日内进行确认；如果在6个工作日内未提出异议的，则视为托运人确认运输协议履约完成。
						<br/><b>二、托运人义务</b>
						<br/> 　1、信息变更
						<br/>&nbsp;&nbsp;&nbsp;&nbsp;托运人可根据实际情况要求承运人终止运输、停止卸货、退回货物、变更到达地点或者变更收货人等，并且承担因此给承运人增加的相关运输杂费和其他相关损失。具体金额由双方进行协商,如发生增加运杂费或者其它情况须在物流邦平台提交、签订补充协议并执行补充协议。
						<br/> 　2、货物跟踪及安全
						<br/>&nbsp;&nbsp;&nbsp;&nbsp;托运人如发现承运人履行协议运输途中关闭定位终端设备，托运人可向承运人要求50元的赔偿，非承运人责任的除外。
						<br/> 　3、如发生承运人未按协议约定时间到达装货地或者送达收货地，经双方协商未果，托运人有权向承运人索偿，按协议中装载到达时间及卸载送达时间要求，每延误1小时可向承运人索要运输协议约定的运输费用总额的10%进行延误赔偿，最高延误赔偿总额不得超过运费总额（不可抗力的因素除外）。
						<br/><b>三、承运人的责任</b>
						<br/> 　1、信息核准
						<br/>&nbsp;&nbsp;&nbsp;&nbsp;承运人在装载时应认真核查货物品类、数量、重量等信息是否与协议一致，如有异议及时与托运人协商；运输开始后不得再对信息不符等提出异议。
						<br/> 　2、安全保证
						<br/>&nbsp;&nbsp;&nbsp;&nbsp;承运人在装载时须检查包装质量和装载安全，启程后所发生的一切损失（丢失、破损、污染、雨淋等）全部由承运人负担。但承运人证明货物的毁损、灭失是因不可抗力、货物的本身的自然性质或者合理损耗及托运人或收货单位造成的除外；承运人对货物的毁损、灭失的赔偿额为该货物买卖双方实际交易价格及给托运人造成相关的其他损失。
						<br/>&nbsp;&nbsp;&nbsp;&nbsp;承运人在运输过程中应对运输货物采取妥善的安全措施，应当按照通用的足以保全货物的方式对标的货物采取防雨、防散失等必要措施。
						<br/>&nbsp;&nbsp;&nbsp;&nbsp;承运人须保证全程定位终端设备处于开放和工作状态，托运人如发现承运人履行协议运输途中关闭定位终端设备，托运人可向承运人要求50元的赔偿，非承运人责任的除外。
						<br/>&nbsp;&nbsp;&nbsp;&nbsp;运输途中一切费用（过路、桥费等）、交通事故、违规罚款以及途中卸货倒车等费用及责任全由承运人承担。
						<br/> 　3、良好服务
						<br/>&nbsp;&nbsp;&nbsp;&nbsp;如在到达收货地址卸货前，托运人要求停止卸货或改变收货人、送货地点等，承运人须无条件服从。在协议履约过程中要保持良好的服务态度和体现积极的协助意识，充分做好服务工作。
						<br/> 　4、承运人须保证托运人的托运货物按协议规定时间到达，如途中发生塞车、交通事故、违规扣车等情况须及时通知发货方和收货方并随时报告动态，在获得托运人的同意后可更换车辆完成运输。如中途不管任何情况需要更换运输车辆，必须事先征得托运人同意并由托运人提交补充协议，按平台操作流程完成，否则因此造成的所有风险及责任由承运人承担。
						<br/> 　5、若承运人送达货物的目的地或者收货人与协议约定的不相符，致使托运人蒙受损失，托运人有权向承运人索赔。
						<br/> 　6、承运人应将运费确认单保存完好
						<br/> 　7、承运人应将经由协议指定的收货人或接收单位签字的送货回单在货物到达收货地24小时内直接交付给托运人（需要收货人或者单位在运费确认单上签字以证实接收）或者以指定邮寄的方式寄送给托运人并将邮寄证明提交到物流邦平台（录入单号或者拍照上传）后提交运输协议履约完成申请。
						<br/> 　8、运费确认单是用来体现承运的货物已经送达的凭证，只作为承运人运输的证明，并不是结算的依据，如果运费确认单与电子运输协议的约定有不一致的，以电子运输协议的约定为准；
						<br/>&nbsp;&nbsp;&nbsp;&nbsp;送货回单是托运人发出货物的凭证，是需要经收货方确认签字并回收的单据。是根据电子运输协议约定需要承运人直接交付或者寄送的货物发货回执，如果是直接交付，需托运人在运费确认单签字以证实接收到送货回单。如果是邮寄寄送方式，承运人需将邮寄证明提交到物流邦平台（录入单号或者拍照上传）。
						<br/> 　9、保密责任
						<br/>&nbsp;&nbsp;&nbsp;&nbsp;承运人不得向任何第三方泄露客户、货物等相关信息，否则发生的一切损失和责任由承运人承担。
						<br/><b>四、承运人权利</b>
						<br/> 　1、承运人发现货物的相关信息与托运人在平台发布的信息不一致时可协商解决，协商无果可拒载并有向托运人追究相关责任和赔偿的权利，具体赔偿标准参照注册协议。
						<br/> 　2、托运人改变卸货地点、送达后无人接货或延误卸货等给承运人带来的相关损失及回程接单等损失，承运人有权申诉，要求托运人赔偿，物流邦平台应给予支持并协助提供回程接单信息等相关证据。
						<br/> 五、运费结算
						<br/>&nbsp;&nbsp;&nbsp;&nbsp;运费以现金形式由托运人或者托运人指定的收货人进行支付。
						<br/><b>五、其他约定</b>
						<br/> 　1、如需代收货款等服务，须提供接收账户信息，平台以转账的形式付给托运人，因转账而产生的汇款手续费等相关费用要在代收的货款中扣除；
						<br/> 　2、本合同中规定的所有费用均为不含税价格，如需开发票等须自行承担税金等相关费用。
						<br/> 　3、协议一经在线指定方式（托运人以手机认证码或支付担保支付的运输费用两种方式的完成视同协议的签署，承运人支付一张邦票即十元信息费的方式视为本协议的签署）签署即时生效。如有争议双方协商解决，协商不成可向托运人所在地人民法院提起诉讼。
						<br/> 　4、本合同如有未尽事宜，双方协商签订补充协议。补充协议作为本合同的组成部分，与本合同具有同等法律效力。
						<br/> 　5、物流邦平台是公共信息平台，仅提供信息服务，本协议只为甲乙双方提供本次运输的法律依据，平台不承担双方任何法律责任。
					</label>
					<label id="deal_details_dabao_nosplit" style="color: #999999;" ng-if="deal_type==7">
						一、承运人通过物流邦平台参与线路阶段竞价，托运人发起线路阶段竞价总协议。根据总协议及运输要求，生成单批次电子运输协议。承运人签署路线阶段竞价总协议，视同承运人同意总协议及单批次运输协议各项条款。
						<br/> 二、承运人须严格执行单批次电子运输协议。根据实际情况，托运人需要进行运输需求的更改，双方须在补充协议中约定。双方签订补充协议并生效后，承运人须按照补充协条款完成运输。
						<br/> 三、承运人应按照协议约定完成运输，如有车辆不能参与承运，承运人应无条件及时调度、组织其他车辆（必须是在物流邦平台注册成为会员的车辆）完成运输。如有承运车辆信息发生变更，承运人须提前一天告知托运人，经托运人同意，双方在物流邦平台签订补充协议后，承运人方可更换车辆运输。
						<br/> 四、承运人签署线路阶段竞价协议后，执行单批次运输协议时出现违约，按照运输协议约定须支付违约金。如果发生第二次违约行为，托运人将终止与承运人的所有运输协议，承运人执行中的协议都将作为违约处理，托运人有权追究承运人违约责任。
						<br/>
					</label>
					<br />
					<br/>
					<label style="color:#000;">&nbsp;&nbsp;特别声明：双方签订本协议即表明已经详细了解了本协议条款的全部内容，责任承担条款无需特别标明，双方已经充分了解了可能产生的风险和所需承担的责任。</label>
				</div>
			</div>
		</div>
	</body>

	<script src="../../../Public/js/mui.min.js"></script>
	<script src="../../../Public/js/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../Public/js/sea.js" type="text/javascript" charset="utf-8"></script>

	<script type="text/javascript" charset="utf-8">
		mui.init();
	</script>

	<script>
		seajs.config({
			debug: false
		});
		mui.plusReady(function() {
			seajs.use(["../../controller/public/seaMain.js", '../../controller/bidding/deal_detail.js'], function() {
				angular.element(document).ready(function() {
					angular.bootstrap(window.document, ["city"]); //启动angular
				})
			});
		});
	</script>

</html>